.reviews-container {
  padding: 0;
}

.review-item {
  margin: 0;
  padding: 20px;
}

.avatar {
  width: 35px;
  height: 35px;
}

.rating-and-author-containe {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 7px;
}
