.container-apps {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 25px;
  a {
    text-decoration: none;
    color: black;
  }
}

.app-logo-main {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.card-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 320px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 7px 10px 3px rgba(34, 60, 80, 0.17);
  -moz-box-shadow: 0px 7px 10px 3px rgba(34, 60, 80, 0.17);
  box-shadow: 0px 7px 10px 3px rgba(34, 60, 80, 0.17);
  border-radius: 15px;
  transition: 0.3s;
  cursor: pointer;
  padding: 50px 20px 10px 20px;
  p {
    max-width: 100%;
    margin: 0;
    word-wrap: break-word;
  }
}

.card-app:hover {
  -webkit-box-shadow: 0px 7px 10px 10px rgba(34, 60, 80, 0.12);
  -moz-box-shadow: 0px 7px 10px 10px rgba(34, 60, 80, 0.12);
  box-shadow: 0px 7px 10px 10px rgba(34, 60, 80, 0.12);
}

.default-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgb(225, 225, 225);
  margin-bottom: 20px;
  img {
    width: 50px;
    height: 50px;
  }
}
