.repository-card {
  display: flex;
  align-items: center;
  a {
    color: black !important;
    text-decoration: none;
  }
  p {
    width: 100%;
    word-wrap: break-word;
    margin: 0;
  }
}

.repository-card:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.card-link {
  width: 85%;
  padding: 15px 10px 15px 10px;
}

.link-to-github {
  padding: 0 10px 0 10px;
}
.github-icon {
  width: 85px;
  padding-top: 7px;
}

.description {
  margin: 10px 0;
}
