.repository-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  a {
    color: black !important;
    text-decoration: none;
  }
  p {
    width: 100%;
    word-wrap: break-word;
    margin: 0;
  }
  .actions {
    display: flex;
    @media (max-width: 450px) {
      flex-direction: column;
      align-items: center;
      gap: 7px;
    }
  }
}

.repository-card:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.card-link {
  width: 85%;
  padding: 15px 10px 0 0;
}

.link-to-github {
  padding: 0 10px 0 10px;
}
.github-icon {
  width: 85px;
}

.description {
  margin: 10px 0;
}

.zap-button-repository {
  svg {
    width: 27px;
    height: 27px;
  }
}

.repository-info-zap-button {
  border: 1px solid #9747ff;
  color: #9747ff;
  border-radius: 10px;
  padding: 18px 12px;
  background: none;
  cursor: default !important;
}

.count-contribution {
  color: #0c6dfd;
}

.tags-container {
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  .tag-button-repository-element {
    height: 40px;
    white-space: nowrap;
  }
  .kind-element {
    margin-right: 15px !important;
  }
}

.tags-container::-webkit-scrollbar {
  display: none;
}

.repository-link-actions-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.repository-card-container {
  display: flex;
  flex-direction: column;
}
