.review-info {
  font-size: 1.2rem;
  padding: 20px 0;
  h3 {
    padding: 5px 0 0 0;
  }
  .app {
    padding: 15px 0;
    a {
      flex-direction: row-reverse;
    }
    font-size: 1.5rem;
    img {
      width: 60px;
      height: 60px;
    }
  }
}
