// Override default variables before the import
// $body-bg: #000;

.App {
    max-width: 720px;
}

header a {
    text-decoration: none;
}

img.profile {
    border-radius: 5px;
}

.app-row:hover {
    background-color: #eee;
}
