// Override default variables before the import
// $body-bg: #000;

.Root {
  max-width: 720px;
}

header a {
  text-decoration: none;
}

img.profile {
  border: 1px solid #eee;
  border-radius: 5px;
}

.highlight:hover {
  background-color: #eee;
}

img.banner {
  border: 1px solid #eee;
  border-radius: 10px;
}
.pointer {
  cursor: pointer;
}
.repo-item:hover {
  background-color: rgba(
    0,
    0,
    0,
    0.1
  ); /* Здесь можно настроить цвет затемнения */
  cursor: pointer; /* Изменение курсора при наведении для указания на интерактивность */
  transition: 0.3s;
}

.repository-view {
  ul > li {
    list-style: none;
  }
}

.kind-element {
  min-width: 70px;
  display: inline-block;
  text-align: center;
  padding: 5px 10px;
  margin: 7px 10px 0 0;
  border: 1px solid #0c6dfd;
  color: #0c6dfd;
  border-radius: 5px;
}
