// Override default variables before the import
// $body-bg: #000;

.Root {
  max-width: 720px;
}

header a {
  text-decoration: none;
}

img.profile {
  border: 1px solid #eee;
  border-radius: 5px;
}

.highlight:hover {
  background-color: #eee;
}

img.banner {
  border: 1px solid #eee;
  border-radius: 10px;
}
.pointer {
  cursor: pointer;
}
